.container,.input_elements{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contains{
    width:360px; 
    border: 1px solid;
    border-color: black;
    border-radius: 2px;
    background: rgb(246, 118, 139);
}
.input_elements{
    width:300px;
    height: 50px;
    text-align: center;
    border:2px dotted;
    border-color:rgb(112, 5, 5);
    margin:15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.btn{
   height:25px;
   border:2px solid;
   border-radius: 4px;
   width:130px;
   margin: 15px;
}
.result {
    display: block;
    width: 100%; /* Ensure the button takes up the entire width */
    height: auto; /* Allow the button to expand in height */
    border: 2px solid;
    overflow: visible; /* Allow content to overflow within the button */
}

.text {
    display: block;
    height: auto; /* Allow the content wrapper to expand in height */
    overflow: visible; /* Allow the content to overflow within the content wrapper */
    white-space: pre-wrap; /* Allow line breaks in the content */
}


